    .bg{
     width: 715px;
     height: auto;
     z-index: 1;
     float: left;
     left: 0;
    }
    .datadiri{
         height: auto;
         position: absolute;
         z-index: 5;
         padding-top: 118px;
         padding-left: 160px;
         text-align: left;
    }
    table, th, td {
        border-collapse: collapse;
    }
    th, td {
        padding: 3px;
        text-align: left;
        font-size: 12px;
    }
    .progstud{
        height: auto;
         position: absolute;
         z-index: 5;
         text-align: left;
        padding-top: 280px;
        padding-left: 390px;
        width: auto;
    }
    .progstud{
        width: 254px;
        margin-left: 20px;
    }
    .progstud td {
        font-size: 11px;
        margin-left: 10px;
    }
    
    p{
        margin-left: 20px;
        margin-bottom: 5px;
    }